* {
    color: #1e1045;
}

.home__container {
    margin-top: 4em;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .home__container {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .home__container {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .home__container {
        max-width: 540px;
    }
}

.home__product-list {
    margin-top: 40px;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.home__banner-image{
    width: 100%;
    height: auto;
    border-radius: 70px;
}
