.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .alert {
    transition: transform 0.5s;
  }
  
  .alert--hide {
    transform: translateX(-100%);
  }
  